<script setup>
let queryDict = {}
location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]})
</script>

<template>
  <div class="container">
    <div class="sample-input">
      <h1>{{queryDict.approved}}</h1>
    </div>
  </div>
</template>
