<script setup>
import { ref } from 'vue'
import { createInput } from '@formkit/vue'
import api from '../apis/BaseApi'

const values = ref({})

const submitHandler = async(e) => {
  const result = await api.post('/application-onboarding/step1', values.value)
  if (result.status === 201) {
    window.location.href = '/step2'
  }
};

</script>

<template>
  <div class="container">
    <div class="sample-input">
      <h1>BridgeIt Instant Loan Approvals</h1>
      <FormKit type="form" v-model="values" submit-label="Next" @submit="submitHandler">
        <FormKit
          name="first_name"
          placeholder="First name"
          validation="required"
          validation-behavior="live"
        />
        <FormKit
          name="last_name"
          placeholder="Last name"
          validation="required"
          validation-behavior="live"
        />
        <FormKit
          name="dob"
          placeholder="Date of birth"
          help="Enter your date of birth"
          type="date"
          validation="required"
          validation-behavior="live"
        />
        <FormKit
          name="location"
          placeholder="Location"
          validation="required"
          validation-behavior="live"
        />
        <div class="side-by-side">
          <FormKit
            type="file"
            label="Photo ID"
            accept=".jpg, .jpeg"
            help="Choose one image."
            validation="required"
            validation-behavior="live"
            multiple
          />
        </div>

      </FormKit>

      <h2>Modeled group values</h2>
      <pre class="form-data">{{ values }}</pre>
    </div>
  </div>
</template>