<script setup>
import { ref } from 'vue'
import { createInput } from '@formkit/vue'
import api from '../apis/BaseApi'

const values = ref({})

const submitHandler = async(e) => {
  const result = await api.post('/application-onboarding/complete', values.value)
  if (result.status === 201) {
    window.location.href = `/finish?approved=${result.data.data.approved}`
  }
};
</script>

<template>
  <div class="container">
    <div class="sample-input">
      <h1>Step 2</h1>
      <FormKit type="form" v-model="values" submit-label="Next" @submit="submitHandler">
      <div class="side-by-side">
        <FormKit
          name="stock_ticker"
          label="Ticker"
          validation="required"
          validation-behavior="live"
        />
        <FormKit
          name="stock_count"
          type="number"
          label="Number of stock"
          validation="required"
          validation-behavior="live"
        />
      </div>
      <FormKit
        name="credit_card_debt"
        type="number"
        label="Credit card debt"
        validation="required"
        validation-behavior="live"
      />
      </FormKit>

      <h2>Modeled group values</h2>
      <pre class="form-data">{{ values }}</pre>
    </div>
  </div>
</template>
